body {
    background: #F1F8E9;
}

md-backdrop {
    height: 500% !important;
}

md-card.md-default-theme {
    padding-top: 8px ;
}

md-grid-tile img {
    height: 100%;
    width: 100%;
}

#content>md-toolbar {
    background: #558B2F;
}
#menu>md-content {
    text-align: center;
}
#menu a.md-button{
    margin: 0 auto !important;
}

.face {
    border-radius: 500px;
}

#footer {
    position: fixed;
    bottom: 30px;
    right: 20px;
}

.bottomSheet {
    position: fixed;
    bottom: 10px;
}

.md-grid md-list-item {
    margin-top: 20px !important;
}

.bottomSheet .md-grid-item-content {
    height: 96px;
}
.bottomSheet .md-grid-item-content md-icon {
    height: 48px;
    width: 48px;
}
.bottomSheet .md-grid-text {
    padding-bottom: 5px;
}

.gridList {
    padding: 20px 30px !important;
}

.gridList md-grid-list {
    margin: 8px;
}
.gridList .gray {
    background: #f5f5f5; 
}
.gridList md-grid-tile {
    transition: all 400ms ease-out 50ms;
}

@keyframes example {
    0%   {  transform:scale(1)}
    50%  {  transform:scale(1.2)}
    100% {  transform:scale(1)}
}

#footer button {
    animation-timing-function: ease;
    animation-name: example;
    animation-duration: 0.5s;
    animation-delay: 3s;
    animation-iteration-count: 5;
}

md-grid-tile {
    border-radius: 5px;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}
