<html ng-app="app">
    <head>
        <title>Strona testowa</title>

        <link rel="stylesheet" type="text/css" href="style.css" />

        <link rel="stylesheet" href="bower_components\angular-material\angular-material.min.css">
        <link rel="stylesheet" href="bower_components\roboto-fontface\css\roboto-fontface.css">
    </head>
    <body ng-cloak>
        <div ng-controller="SimpleCtrl">
            <form name="form" class="form" ng-submit="submitForm()">
                <md-content md-theme="docs-dark" layout-padding>
                    <p>Witaj, {{message.sentence}}</p>
                    <md-input-container>
                        <label>Title</label>
                        <input name="input" type="text" ng-model="message.sentence" required md-maxlength="30"/>
                        <div ng-messages="form.input.$error">
                            <div ng-message="required">This is required.</div>
                            <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
                        </div>
                    </md-input-container>
                    <br/>
                    <md-button class="md-raised md-primary">Wyslij</md-button>
                    <md-button class="md-raised md-warn" ng-click="deleteElement()">Usun element</a>
                </md-content>
            </form>
        </div>

        <script src="bower_components\jquery\dist\jquery.min.js"></script>
        <script src="bower_components\angular\angular.min.js"></script>
        <script src="bower_components\angular-messages\angular-messages.min.js"></script>
        <script src="bower_components\angular-animate\angular-animate.min.js"></script>
        <script src="bower_components\angular-aria\angular-aria.min.js"></script>
        <script src="bower_components\angular-material\angular-material.min.js"></script>

        <script src="controller.js"></script>
    </body>
</html>
