<md-card>
  <md-toolbar class="md-hue-1">
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Career</h2>
    </div>
  </md-toolbar>
  <md-card-content layout-padding style="padding: 24px;">
    <md-content ng-repeat="item in jobs">
        <h2>{{item.position}}</h2>
        <h3>{{item.company.name}}, {{item.company.city}}, {{item.company.country}}</h3>
        <p>{{item.hired.from}} - {{item.hired.to}}</p>
        <md-divider ng-if="!$last"/>
    </md-content>
  </md-card-content>
</md-card>