<md-bottom-sheet class="bottomSheet md-grid">
  <md-list>
    <md-list-item>
        <md-button ng-click="sendMail()" 
            class="md-grid-item-content" aria-label="Email">
            <md-icon md-svg-src="img/mail.svg"></md-icon>
            <div class="md-grid-text"> E-mail </div>
        </md-button>
    </md-list-item>
    <md-list-item>
        <md-button ng-click="redirectToLinkedId()" 
            class="md-grid-item-content" aria-label="LinkedIn">
            <md-icon md-svg-src="img/linkedin.svg"></md-icon>
            <div class="md-grid-text"> LinkedIn </div>
        </md-button>
    </md-list-item>
    <md-list-item>
        <md-button ng-click="redirectToFacebook()" 
            class="md-grid-item-content" aria-label="Facebook">
            <md-icon md-svg-src="img/facebook.svg"></md-icon>
            <div class="md-grid-text"> Facebook </div>
        </md-button>
    </md-list-item>
    <md-list-item>
        <md-button ng-click="redirectToGooglePlus()" 
            class="md-grid-item-content" aria-label="Google+">
            <md-icon md-svg-src="img/google_plus.svg"></md-icon>
            <div class="md-grid-text"> Google+ </div>
        </md-button>
    </md-list-item>
    <md-list-item>
        <md-button ng-click="redirectToGitHub()" 
            class="md-grid-item-content" 
            aria-label="GitHub">
            <md-icon md-svg-src="img/github.svg"></md-icon>
            <div class="md-grid-text"> GitHub </div>
        </md-button>
    </md-list-item>
  </md-list>
</md-bottom-sheet>